{% extends 'Nodal_Officer/Dashboard.html'%}
{% load static %}
{% block title %}Add Hearing | legal Wiz{% endblock %}
{% block content %}
<!-- Page Content -->
<div class="container-fluid" style="font-family: 'Montserrat',sans-serif; ">
    <h3 style="text-align: center;margin-top: 30px; font-weight:bold;">Add New Hearing</h3>
    <p style="text-align: center;"> Fill following details to continue</p>
    <hr>
    <div class="row">
        <div class="col-md-6" style="margin: 20px auto;">


        <form method="post", action = "{% url 'id' %} " >
            <div class="form-group">
                {%  csrf_token %}
                <input type="text" class="form-control"
                        placeholder="Enter Case ID" name="id" required>
                <input type="submit" value="enter">
            </div>
        </form>
            <form method="POST">
                {% csrf_token %}

                <div class="form-group">
                    <label>Case Number</label>
                    <input type="text" value="{% if data %}{{ data.case_number }}{% endif %}" class="form-control"
                        placeholder="Enter Case ID" name="caseno" required>
                </div>
                <div class="form-group"> 
                    <label>Case Title</label>
                    <input type="text" value="{% if data %}{{ data.title }}{% endif %}" class="form-control"
                        placeholder="Case Title" name="casetitle">
                </div>
                <div class="form-group">
                    <label>Department</label>
                    <input type="text" value="{% if data %}{{ data.app_dept }}{% endif %}" class="form-control"
                        placeholder="Enter department" name="casedpt" required>
                </div>
                <div class="form-group"> 
                    <label>Last Hearing Date</label>
                    <input type='date' value="{% if data %}{{ data.next_hearing_date }}{% endif %}" class="form-control" placeholder='DD/MM/YY'
                        name="lastdate" style='margin: 0 auto;'>
                </div>
                <div class="form-group">
                    <label>Interim Order / Final Order</label>
                    <textarea type="text" class="form-control" placeholder="Enter order for hearing"
                        name="conclusion" wrap="hard" rows=5 cols=40 required></textarea>
                </div>

                <div class="form-group">
                    <h6>Or</h6>
                </div>

                <div class="form-group">
                    <label>Hearing conclusion in pdf format</label><br>
                    <input type="file" name="file">
                </div>

                <div class="form-group">
                    <label>Status</label>
                    <select name="status" class="form-control" required>
                        <option value="" selected>Select status</option>
                        <option value="Closed">Closed</option>
                        <option value="Running">Running</option>
                    </select>
                </div>


                <div class="form-group">
                    <label>Next Hearing Date</label>
                    <input type='date' class="form-control" placeholder='DD/MM/YY'
                        name="nextdate" style='margin: 0 auto;'>
                </div>

                {% if failure == True %}
                <div class="alert alert-danger" role="alert" style="margin: 20px 0;text-align: center;">
                    Sorry, can't able to create new hearing. Please check if you have filled the details properly.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endif %}

            <div style="display: flex; justify-content:center;">
                <button type="submit" name="submit" value="Add new hearing" class="btn"
                    style="margin-right: 1rem;background:#253858;color:white">Add new
                    hearing</button>

                <button type="submit" name="clear" value="Clear Details" class="btn"
                    style="background:#253858;color:white">Clear Details</button>
            </div>
                <!-- <button type="submit" class="btn"
                    style="margin: 40px auto 100px;display: block;background:#253858;color:white">Add New Hearing to Database</button> -->
            </form>
        </div>
    </div>
</div>

{% endblock %}
