{% extends 'Nodal_Officer/Dashboard.html'%}
{% load static %}
{% block title %}Hearing | legal Wiz{% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/advocate.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/filterForm.css' %}">
<!-- Page Content -->

        <!-- Page Content -->
        <div class="wrapper">
          <div class="title">
            <div class="bd-title">
              <h4>Hearing {% if fil >= 1 %} ({{ fil }}) {% endif %} {% if length >= 0 %} ({{ length }}) {% endif %}</h4>
            </div>
            <div class="right-content">
              <button type="button" class="btn btn-primary" id="f2"><i class="fas fa-plus"></i><a href="/Dashboard/hearing/addHearing"> New Hearing</a></button>
              <div class="filter-button">
                <button class="btn filter" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                  Filter
                </button>
                
              </div>
            </div>
          </div>
          <div class="collapse" id="collapseExample">
            <div class="card card-body">
              <form method="POST">
                {% csrf_token %}
                <div class="form-row">
                  <div class="form-group col-md-4">
                    <p class="field-label">Case Number</p>
                    <input type="text" class="form-control" placeholder="Case Number" name="caseno">
                  </div>
                  <div class="form-group col-md-4">
                    <p class="field-label">Last Hearing Date</p>
                    <input type="text" class="form-control" placeholder="Last Hearing Date" name="lastdate">
                  </div>
                  <div class="form-group col-md-4">
                    <p class="field-label">Case Title</p>
                    <input type="text" class="form-control" placeholder="Case Title" name="casetitle">
                  </div>
                </div>
                
                <div class="form-group last">
                   <a href="Dashboard/hearing"> <button type="submit" name="filter" value="Submit" class="btn">Submit</button></a>
                    <a href=""><button type="reset" name="reset" value="reset" class="btn">Reset</button></a>
                </div>
            </form>
            </div>
          </div>
        </div>
        <br>
        
        <!-- Table Format -->
        <div class="table-content">
        <table class="table">
          <thead>
              <tr>
                <th >  Case Title </th> 
                  <th> Case Number </th>
                  <th> Last Hearing </th>
                  <th> Hearing Conclusion </th>
                  <th> Next hearing </th>
              </tr>
          </thead> 
          <tbody>
              <!-- <tr>
                  <td> No Entry</td>
              </tr>  -->

              <!-- if there's any entry in database-->
            <!-- filter -->
            {% if fil >= 1 %}
            {% for i in hear %}

            <tr>
              <td> {{ i.title }}</td>
              <td> {{ i.case_no }}</td>
              <td> {{ i.lastHearing }}</td>
              <td> {{ i.conclusion }}</td>
              <td> {{ i.nextHearing }}</td>
              
            </tr>

            {% endfor %}

            <tr> <td colspan="6"> <a href="/Dashboard/hearing" class="btn btn-outline-primary">Back to hearings </a>  </td>   </tr>
          {% endif %}

          <!-- if there's any entry in database-->
          <!-- display all rows -->
          {% if length > 0 %}

            {% for i in hear %}

            <tr>
                <td> {{ i.title }}</td>
                <td> {{ i.case_no }}</td>
                <td> {{ i.lastHearing }}</td>
                <td> {{ i.conclusion }}</td>
                <td> {{ i.nextHearing }}</td>

            </tr>

            {% endfor %}

            <tr>
              <td colspan="6"> To generate a new hearing, <a href="/Dashboard/hearing/addHearing">Click here</a>. </td>
            </tr>

          {% endif %}


          <!-- if there's no entry in database-->
          {% if length == 0 %}
            <tr>
              <td colspan="6"> No hearings created yet. <a href="/Dashboard/hearing/addHearing">Click here </a>to add. </td>
            </tr>
          {% endif %}
          

        </tbody>
        </table>
      </div>
{% endblock %}