<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>FAQ | legal Wiz</title>
    <meta content="" name="descriptison">
    <meta content="" name="keywords">

    <!-- Favicons -->


    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Vendor CSS Files -->
    <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="../assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <!-- Main CSS File -->
    <link href="../assets/css/nav-foot.css" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/aboutUs.css">
     
        <!--Font Awsome CSS-->
    
        
</head>

<body>
    <!-- Navigation bar -->
    <header id="header">
        <div class="container-fluid">

            <div id="logo" class="pull-left">
                <h1><a href="../index.html" class="scrollto">legal WIZ</a></h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="#intro"><img src="assets/img/logo.png" alt=""></a>-->
            </div>

            <nav id="nav-menu-container">
                <ul class="nav-menu">
                  <li><a href="pages/aboutUs.html">About</a></li>
                  <li><a href="#">Help-Desk</a></li>
                  <li><a href="#" class="button" style="font-weight:400">Log in</a></li>
                </ul>
              </nav>
        </div>
    </header>
    <!--Intro Section -->
    <div id="intro">
        <div class="jumbotron jumbotron-fluid">
            <div class="intro-content">
                <p>legal WIZ</p>
            </div>
        </div>
    </div>

    <!-- about section -->
    <section id="about">
        <p class="section-title">About Us</p>
        <div class="container">
            <p>Legal Wiz is a secure,user-friendly Court Case Management System. This system would save
                lot of time of advocates as well as plaintiff/client.It's a cloud base software thus available for all
                the users for 24x7. You just need an
                Internet connection, a device and rest will be taken care by the system.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid sapiente fugit impedit saepe,
                atque harum fuga labore maxime laboriosam deserunt corrupti beatae error facere natus, hic, eveniet
                distinctio eum vero? Dolorum maxime velit at? Possimus soluta, minima sint, ipsam numquam maxime
                excepturi omnis ad in, nesciunt eius dolorum iure facere.</p>
        
        <div class="row" style="margin-top: 50px;">
            <div class="col-lg-4 col-md-4">
                <div class="card">
                    <p class="icon"><i class="fas fa-bullseye"></i></p>
                    <p class="caption">Our Mission</p>
                    <p>To make the functional areas in Judicial Service efficiently and effectively on the digital platform.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="card">
                    <p class="icon"><i class="fas fa-eye"></i></p>
                    <p class="caption">Our Vision</p>
                    <p>To control and allow complete registration of all the court cases and tracking of current status of cases;
                        to enhance the access of department of any organization easily.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="card">
                    <p class="icon"><i class="fas fa-suitcase"></i></p>
                    <p class="caption">Our Values</p>
                    <p>Confidentiality, Sustainability, Team-work, Security, Service.</p>
                </div>
            </div>
        </div>
        </div>
    </section>

    <!-- team Section -->
    <section id="team" style="margin-bottom: 50px;">
        <p class="section-title">The Team</p>
        <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="card">
                    <img src="../assets/img/palak.jpeg">
                    <div class="box-content">
                        <h3 class="title">Palak Patel</h3>
                        <span class="post">Web Developer</span>
                        <ul class="social">
                            <li><a href="#"><i class="fas fa-bullseye"></i></a></li>
                            <li><a href="#"><i class="fas fa-suitcase"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="card">
                    <img src="../assets/img/vrusha.jpg">
                    <div class="box-content">
                        <h3 class="title">Vrusha Parikh</h3>
                        <span class="post">Web Developer</span>
                        <ul class="social">
                            <li><a href="#"><i class="fas fa-bullseye"></i></a></li>
                            <li><a href="#"><i class="fas fa-suitcase"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="card">
                    <img src="../assets/img/khushali.jpeg">
                    <div class="box-content">
                        <h3 class="title">Khushali Mehta</h3>
                        <span class="post">Web Developer</span>
                        <ul class="social">
                            <li><a href="#"><i class="fas fa-bullseye"></i></a></li>
                            <li><a href="#"><i class="fas fa-suitcase"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="card">
                    <img src="../assets/img/jay.jpg">
                    <div class="box-content">
                        <h3 class="title">Jay Shah</h3>
                        <span class="post">Web Developer</span>
                        <ul class="social">
                            <li><a href="#"><i class="fas fa-bullseye"></i></a></li>
                            <li><a href="#"><i class="fas fa-suitcase"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="card">
                    <img src="../assets/img/khanjan.jpeg">
                    <div class="box-content">
                        <h3 class="title">Khanjan Vaidhya</h3>
                        <span class="post">Web Developer</span>
                        <ul class="social">
                            <li><a href="#"><i class="fas fa-bullseye"></i></a></li>
                            <li><a href="#"><i class="fas fa-suitcase"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="card">
                    <img src="../assets/img/shubham.jpg">
                    <div class="box-content">
                        <h3 class="title">Shubham Kshatriya</h3>
                        <span class="post">Web Developer</span>
                        <ul class="social">
                            <li><a href="#"><i class="fas fa-bullseye"></i></a></li>
                            <li><a href="#"><i class="fas fa-suitcase"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
    <div id="footer">
        <div class="row">
          <div class="col-lg-6 col-md-6">
              <p class="name">legal WIZ</p>
              <p> One Website for your entire organization.</p>
              <p style="margin-top:30px">Privacy Policy <span style="color: #1eb47c">|</span> T&C <span style="color: #1eb47c">|</span> Disclaimer</p>
          </div>
          <div class="col-lg-6 col-md-6">
              <p class="feature">Key Features</p>
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <p>Add Case</p>
                        <p>Case Hearing Management</p>
                        <p>Case Invoice Management</p>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <p>Case Updates</p>
                        <p>Quick Search</p>
                        <p>24x7 Availability</p>
                    </div>
                </div>
          </div>
        </div>
        <p style="margin-top:30px;padding-top: 10px;border-top: 1px solid #afafaf49; text-align: center;">Copyright &copy; 2020 : legalWIZ. All rights reserved. </p>
    </div>

    <!-- Vendor JS Files -->
    <script src="../assets/vendor/jquery/jquery.min.js"></script>
    <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="../assets/vendor/wow/wow.min.js"></script>
    <script src="../assets/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="../assets/vendor/superfish/superfish.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
       
    <!-- Template Main JS File -->
    <script src="../assets/js/main.js"></script>
    <script>
        var myIndex = 0;
        carousel();

        function carousel() {
            var i;
            var x = document.getElementsByClassName("mySlides");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            myIndex++;
            if (myIndex > x.length) {
                myIndex = 1
            }
            x[myIndex - 1].style.display = "block";
            setTimeout(carousel, 3000);
        }
    </script>
</body>

</html>



