<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lawyer Sign-up</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
    <div class="container-fluid" style="font-family: 'Montserrat',sans-serif;"> 
        <h3 style="text-align: center;margin-top: 50px;">Add New Lawyer</h3>
        <p style="text-align: center;"> Fill following details to continue</p>
        <div class="row">
            <div class="col-md-6" style="margin: 20px auto;">
                <form method="POST" action="" >
                    <!-- {% csrf_token %}  -->
                    <div class="form-group">
                        <label for="Lawyer_name">Name</label>
                        <input type="text" class="form-control" id="Lawyer_name"
                            placeholder="Enter lawyer's name" name="LawyerName" required>
                    </div>
                    <div class="form-group">
                        <label for="Lawyer_email">Email Address</label>
                        <input type="email" class="form-control" id="Lawyer_email" aria-describedby="emailHelp"
                            placeholder="Enter lawyer's email" name="LawyerEmail" required>
                    </div>
                    <div class="form-group">
                        <label for="Lawyer_contact">Contact Number</label>
                        <input type="text" class="form-control" id="Lawyer_contact" placeholder="Enter lawyer's number"
                            name="LawyerContact" required>
                    </div>
                    <div class="form-group">
                        <label for="Lawyer_workarea">Work Area</label>
                        <input type="text" class="form-control" id="Lawyer_workarea" placeholder="Enter lawyer's workplace(eg: Civil,Criminal,etc)"
                            name="LawyerWorkarea" required>
                    </div>
                    <div class="form-group">
                        <label for="Lawyer_aor">AOR Number</label>
                        <input type="text" class="form-control" id="Lawyer_aor" placeholder="Enter lawyer's AOR number"
                            name="LawyerAOR" required>
                    </div>
                    <button type="submit" class="btn"
                        style="margin: 40px auto 100px;display: block;background:#253858;color:white">Add Lawyer to Database</button>
                </form>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>