{% extends 'index.html'%}
{% load static %}
{% block title %}Recover Password| legal Wiz{% endblock %}
{% block content %}
<style>
    body{
        background: black;
    }
    label{
        color: #1eb47c;
        margin-top: 10px;
    }
</style>
<div class="container-fluid" style="font-family: 'Montserrat',sans-serif;"> 
    {% for a in account %}
    <h3 style="text-align: center; margin-top:150px;color: white">Reset Password</h3>
    <p style="text-align: center;color: white">Hello {{a.username}}, fill the following to change your password.</p>
    <div class="row">       
        <div class="col-md-6" style="margin: 20px auto;">
            <form method="POST" action="{% url 'resetpassword' %}" >
                {% csrf_token %} 
                <div class="form-group"> 
                        <label for="InputUsername">Password</label>
                        <input type="password" class="form-control" id="InputEmail"
                            placeholder="Enter Password" name="Password" required>
                    </div>
                <div class="form-group">
                    <label for="InputEmail">Confirm Password</label>
                    <input type="password" class="form-control" id="InputEmail"
                        placeholder="Enter Password Again" name="ConfirmPassword" required>
                </div> 
                <div class="form-group">
                    <input type="hidden" class="form-control" id="InputEmail"
                        value="{{a.username}}" required name="Username">
                </div> 
                {% if failure == True %}
                <div class="alert alert-danger" role="alert" style="margin: 20px 0;text-align: center;">
                    Passwords does not match.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endif %}
               <button type="submit" class="btn"
                    style="margin: 40px auto 100px;display: block;background:#1eb47c;color:white">Reset Password</button>
            </form>
           
        </div>
       
    </div> 
</div>
{% endfor %}
{% endblock %}
