<html>
<head>

		<title>Invoice form</title>
		<link rel="stylesheet" type="text/css" href="invoice.css">

		<!-- Bootstrap CDN -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <!--Custom Stylesheets -->

        <link rel="stylesheet" type="text/css" href="navbar.css">
        
        <!--Font Awsome CSS-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        
</head>
<body>

	<!-- navbar -->
	<!-- Inner Navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark sticky-top">
          <h1 class="navbar-brand mb-0">Legal WIZ</h1>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="#">Dashboard</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Cases</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Advocates</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link active" href="#">Invoices</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Hearings</a>
              </li>
              
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-user-circle fa-lg"></i>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="#">Account Details</a>
                  <a class="dropdown-item" href="#">Update Profile</a>
                  <a class="dropdown-item" href="#">Change Password</a>
                  <a class="dropdown-item" href="#">Delete Account</a>
                  <a class="dropdown-item" href="#">Log Out</a>
                </div>
              </li>
            </ul>
          </div>
        </nav>
        <br>
        
<div class="container-fluid" style="font-family: 'Montserrat',sans-serif;">
    <h2 style="text-align: center; margin-top:150px;">Generate an Invoice</h2>
    <p style="text-align: center;"> Fill the following details to create a new invoice</p>
	<hr>
    <div class="row">
        <div class="col-md-6" style="margin: 20px auto;">
            <form method="POST">             

             
              <div class="form-group">
                <label>Date</label>
                <input type="date" class="form-control" name="in_date" placeholder="DD/MM/YYYY" required>
              </div>

                <div class="form-group">
                    <label>Invoice Subject</label>
                    <textarea class="form-control" wrap='hard' rows='3' cols='40' name="in_sub" placeholder="Enter invoice subject" required></textarea>
                </div>

                <div class="form-group">
                  <label>Department</label>
				  <input type="text" class="form-control" placeholder="Department" name="dept" required>
                </div>

                <div class="form-group">
                  <label>Case number</label>
                  <input type="text" class="form-control" placeholder="Case number"
                      name="caseno" required>
                </div>

                <div class="form-group">
                  <label>LC number</label>
                  <input type="text" class="form-control" placeholder="LC number"
                    name="lcno" required>
                </div>

                <div class="form-group">
                  <label>Advocate name</label>
                  <input type="text" class="form-control" placeholder="Enter advocate name"
                      name="ad_na" required>
                </div>

                <div class="form-group">
                    <label>Case Title</label>
                    <input type="text" class="form-control" placeholder="Case title"
                        name="casetitle" required>
                </div>

                <div class="form-group">
                    <label for="InputType">Case type</label>
                    <input type="text" class="form-control" placeholder="Case type"
                    name="casetype" required>
                </div>

                <div class="form-group">
                    <label>Particulars - amount charges</label>
                    <textarea class="form-control" wrap='hard' rows='10' cols='40' name="in_particulars"></textarea>
                </div>

                <div class="form-group">
                    <label>Total amount to be paid</label>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                          <div class="input-group-text">Rs.</div>
                        </div>
                        <input type="text" class="form-control" placeholder="Enter total amount"
                        name="in_total" required>
                    </div>
                </div>

                <div class="form-group">
                    <label>Due payment amount</label>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                          <div class="input-group-text">Rs.</div>
                        </div>
                        <input type="text" class="form-control" placeholder="Enter due amount"
                        name="in_due" required>
                    </div>
                </div>

				<div style=" display: flex; justify-content: center;">
                <button type="submit" name="submit" value="Generate new invoice" class="btn"
                style="margin-right: 1rem;background:#01579B;color:white">Generate new invoice</button>
            
                <button type="submit" name="clear" value="Clear Details" class="btn" 
                style="background:#01579B;color:white">Clear Details</button>
				</div>
                 
            </form>
        </div>
    </div>

</div>

        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

		<!-- Font Awesome JS -->
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
        
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

</body>
</html>