{% extends 'Nodal_Officer/Dashboard.html' %}
{% load static %}
{% block title %}View Full details | legal Wiz{% endblock %}
{% block content %}


  <link rel="stylesheet" type="text/css" href="{% static 'assets/css/viewmore.css' %}">
  
  <style>
    body{
      padding-left: 0px;
      font-family: 'Montserrat', sans-serif;
    }
  </style>

  <div class="viewmore" style="padding-left: 5rem; padding-right: 5rem;">
    <!-- <div class="card border-dark mb-3">
      <div class="card-header" style="font-size: x-large;"><b>Case Title: </b> 01</div>
      <div class="card-body">
        
        <h6 class="card-lawyer"><b>Plaintiff Name: </b> </h6>
        <p class="card-text"><b>Case Description: </b>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
          dolor. Aenean massa.</p>
        <a href="invoice" class="btn btn-outline-primary">Back to Invoices </a>

        
      </div>
    </div> -->

    {% for i in invoice %}

      {% if val == i.caseno %}
        <div class="card border-dark mb-3">
          <div class="card-header" style="font-size: x-large;"><b>Case Title: </b> {{ i.casetitle }} </div>
          <div class="card-body">
          <p class="card-text"><b>Date: </b>{{i.in_date}}</p>
          <p class="card-text"><b>Invoice subject: </b>{{i.in_sub}}</p>
          <p class="card-text"><b>Department: </b>{{i.dept}}</p>
          <p class="card-text"><b>Case number: </b>{{i.caseno}}</p>
          <p class="card-text"><b>LC number: </b>{{i.lcno}}</p>
          <p class="card-text"><b>Advocate name: </b>{{i.ad_na}}</p>
          <p class="card-text"><b>Case type: </b>{{i.casetype}}</p>
          <p class="card-text"><b>Particulars - amount: </b>{{i.in_particulars}}</p>
          <p class="card-text"><b>Total amount to be paid: </b>Rs.{{ i.in_total }}</p>
          <p class="card-text"><b>Due payment: </b>Rs.{{i.in_due}}</p>
          <a href="/Dashboard/invoice" class="btn btn-outline-primary">Back to Invoices </a>

          </div>
        </div>
      
      {% endif %}

    {% endfor %}

    

    <!-- <div class="card border-dark mb-3">
      <div class="card-header" style="font-size: x-large;"><b>Case Title: </b> 03</div>
      <div class="card-body">
        
        <h6 class="card-lawyer"><b>Plaintiff Name: </b> </h6>
        <p class="card-text"><b>Case Description: </b>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
          dolor. Aenean massa.</p>
        <a href="#" class="btn btn-outline-primary">Back to Invoices </a>

        
      </div>
    </div> -->

  </div>


{% endblock %}